<!-- 
    Author: Emmanuel Cortes
    Date: 3.13.20
    File: footer.ejs
 -->

<!-- Created a footer to be reused on the pages using the include statement -->

<footer style="text-align: center; height: 50px; background-color: #1B4079; color: white; padding-top: 10px;">© 2020 Lorem ipsum - All Rights Reserved | <a href="/" style="color: white;">Return Home</a></footer>