<h2>Gloves</h2>
<img src="<%gloves.img%>" alt="">
<ul>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque soluta laboriosam accusamus, iure sit commodi inventore odio, recusandae nisi mollitia voluptas. Magnam, aut nulla.</li>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque soluta laboriosam accusamus, iure sit commodi inventore odio, recusandae nisi mollitia voluptas. Magnam, aut nulla.</li>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque soluta laboriosam accusamus, iure sit commodi inventore odio, recusandae nisi mollitia voluptas. Magnam, aut nulla.</li>
    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque soluta laboriosam accusamus, iure sit commodi inventore odio, recusandae nisi mollitia voluptas. Magnam, aut nulla.</li>
</ul>